$color: lightblue;
$fontfam: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

/* Meida Print query */
@media print {
  body {
    width: 100%;
  }
}

 /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Add a lightgrey background color to the top navigation */
 .topnav {
    overflow: hidden;
    background-color: lightgrey;
  }
  
/* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
/* Style the logo on right */
 .topnav img {
     float: left;
     color: black ;
 }  
/* Change the color of links on hover */
  .topnav a:hover {
    background-color: $color;
    color: black;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: $color;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* font family */
  h3 {
    p{
      font-family: $fontfam;
    }
    h2 {
      font-family: $fontfam;
    }
  }
  
  /* logo aligned center */
  img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* line with unique id on frontpage*/
  #our {
    font-family: $fontfam;
    text-align: justify;
  }
  h2 > p {
    background-color: azure;
  }
 